
.background{
background: url(./images/bk1.jpg) no-repeat 100%;
background-attachment: fixed;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
width: 1708px;
height:773px;
;
}
h1{
font-family:Courier;
color:#ffff00;
margin: 0px;
font-size: 60px; 
position: absolute;
top: 40px;
left: 30px;
}
#home{
text-align: center;
padding-top: 320px;
padding-right: 110px;
font-size:60px;
color:#f4ee42;
font-weight: bold;
}
.main{
opacity: 1;
transition: opacity .5s;
}
.main:hover{
opacity: 0;
}	
p:hover{
opacity: 0;
}
.scene{
padding-left: 300px;	
opacity: 1;
transition: opacity .5s;
}
.nav{
font-size: 35px;
word-spacing: 25px;
font-variant: small-caps;
font-family: "Open Sans",sans-serif;
text-align: right;
position: absolute;
top: 18px;
right: 65px;
}
a, a:active, a:link, a:visited{
    color: yellow;
    text-decoration: none;
}
a:hover{
    color: #cff0f7;
}
.main{
line-height: 7px;
}
body{
margin: 0px;
}
#skills{
background-color: #cff0f7;
background-attachment: fixed;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
width: 1709px;
height:773px;
}

h2{
margin:0px;
font-family:Gadget, sans-serif;
text-transform: uppercase;
color:#ff9933;
font-size: 40px; 
padding-top: 50px;
text-align: center;
}
.list{
position: relative;	
top: 130px;
}
img{
border-radius: 100%;
margin:85px;
width: 150px;
height: 150px;

}
img.resize {
width: 150px;
height: 150px;
}
.text1,.text2,.text3,.text4,.text5{
position: relative;
bottom: 70px;
text-align: center;
list-style-type: none;
display: inline;
font-size: 25px;
color: #003399;
font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
font-weight: bold;
}
.text1{
margin: 110px;
}
.text2{
margin: 92px;
}
.text3{
margin: 112px;
}
.text4{
margin: 123px;
}
.text5{
margin: 114px;
}

#project{
background-color:#0088cc;
background-attachment: fixed;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
width: 1709px;
height:773px;
}

.detail{
margin:0px;
font-family: Gadget, sans-serif;
text-transform: uppercase;
color:#66cc00;
font-size: 40px;  
padding-top: 50px;
padding-left: 40px;
}
#portfolio{
background-color:#ffe6f3;
background-attachment: fixed;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
width: 1709px;
height:773px;
}
.detail1{
margin:0px;
font-family: Gadget, sans-serif;
text-transform: uppercase;
color:#804000;
font-size: 40px; 
padding-top: 50px;
padding-left: 40px;
}
#experience{
background-color:#F0F0F0;
background-attachment: fixed;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
width: 1709px;
height:2214px;	
}
.detail2{
margin:0px;
font-family: Gadget, sans-serif;
text-transform: uppercase;
color:#79a6d2;
font-size: 40px; 
padding-top: 50px;
padding-left: 40px;
}
#contact{
background-color:#800060;
background-attachment: fixed;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
width: 1709px;
height:470px;
border-bottom: 2px solid 989392;
}
.detail3{
margin:0px;
font-family: Gadget, sans-serif;
text-transform: uppercase;
color:#000099;
font-size: 40px; 
padding-top: 50px;
padding-right: 50px;
}
#contact p{
text-align: center;
font-family: Gadget, sans-serif;
position: relative;
top: 35px;
right: 350px;
font-size:20px;
color:#989392;
font-weight: bold;
}
footer{
width: 1709px;
height: 80px;
background-color:#CDC9C8;
}
img.logo{
width:60px;
height:60px;
margin-left:700px;
margin-right: 20px;
}
img.logo1{
width:60px;
height:60px;
margin-left:0px;	
}



